@tailwind base;
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 14px;
  border: 3px solid var(--primary);
}
@tailwind components;
@tailwind utilities;

body{
  background-color: black;
  overflow: hidden;
}

.box{
  background-color: #ad1c1c;
  color: #026c21;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: 200px;
  margin: 10px;
  border-radius: 10px;
  /* box-shadow: ; */
  transform: translateX(400%);
  transition: transform 0.8s ease;

}

.box:nth-of-type(even){
  transform: translateX(-400%);
}

.box.show{
  transform: translateX(0);
}

.box.h2{
  font-size: 45px;
}